// This is the layout configuration file for Niri. It defines how windows are arranged and displayed on your screen, including gaps, column behavior, and other layout-related settings.

// ────────────── Layout Settings ──────────────

    layout {
        gaps 16 // Gap between windows
        center-focused-column "never" // The focused column is always centered, option are "always", "never", "on-overflow"
        always-center-single-column
        default-column-display "normal" // Sets the default display mode for new columns, option are "normal", "tabbed"

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        default-column-width { proportion 0.5; }

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }


        struts {
            // left 64
            // right 64
            // top 64
            // bottom 64
        }

        tab-indicator {
                //off
                hide-when-single-tab
                place-within-column
                gap 5
                width 4
                length total-proportion=0.5
                position "left"
                gaps-between-tabs 2
                corner-radius 8
        }
    }
