// This is the window rules configuration file for Niri. It defines rules for how specific applications should be handled when they are opened, such as which workspace they should open on, whether they should be floating or tiled, and other behavior related to window management.

// ────────────── Window Rules ──────────────

    // You can find the title and the app ID of a window by running niri msg pick-window and clicking on the window in question.

    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

    window-rule {
        match app-id=r#"^org\.keepassxc\.KeePassXC$"#
        match app-id=r#"^org\.gnome\.World\.Secrets$"#
        block-out-from "screen-capture"

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    window-rule {
        match at-startup=true app-id="^firefox$"
        open-on-workspace "1"
        //open-on-output "DP-1"
        open-maximized true
        //open-maximized-to-edges true
        // open-fullscreen true
        open-focused true
    }

    window-rule {
        match app-id="firefox$" title="^Picture-in-Picture$"
        open-floating true
        open-maximized false
        default-floating-position x=32 y=32 relative-to="bottom-left"
    }

    window-rule {
        match at-startup=true app-id="^discord$"
        open-on-workspace "6"
    }

    window-rule {
        match at-startup=true app-id="^obsidian$"
        open-on-workspace "7"
        //default-column-width { fixed 1200; }
        default-column-width { proportion 0.66667; }
    }

    window-rule {
        match at-startup=true app-id="^gnome-disk-utility$"
        open-on-workspace "8"
        open-floating true
        open-maximized false
        open-focused true
        default-window-height { proportion 0.5; }
        default-column-width { proportion 0.66667; }
    }
