// This is the workspaces configuration file for Niri. It defines the workspaces that you have in your system, how they are named, and which monitor they should open on. You can customize this file to create a workspace setup that suits your workflow and preferences.

// ────────────── Workspaces outputs ──────────────

workspace "1" { open-on-output "DP-1"; }
workspace "2" { open-on-output "DP-1"; }
workspace "3" { open-on-output "DP-1"; }
workspace "4" { open-on-output "DP-1"; }
workspace "5" { open-on-output "DP-1"; }
workspace "6" { open-on-output "HDMI-A-2"; }
workspace "7" { open-on-output "HDMI-A-2"; }
workspace "8" { open-on-output "HDMI-A-2"; }
workspace "9" { open-on-output "HDMI-A-2"; }
workspace "10" { open-on-output "HDMI-A-2"; }



// Define name workspaces for each monitor, use this or the other methode above

//workspace "browser" {
//    open-on-output "DP-1"
//}
//
//workspace "code" {
//    open-on-output "DP-1"
//}
//
//workspace "terminal" {
//    open-on-output "DP-1"
//}
//
//workspace "files" {
//    open-on-output "DP-1"
//}
//
//workspace "music" {
//    open-on-output "DP-1"
//}
//
//workspace "chat" {
//    open-on-output "HDMI-A-2"
//}
//
//workspace "mail" {
//    open-on-output "HDMI-A-2"
//}
//
//workspace "notes" {
//    open-on-output "HDMI-A-2"
//}
//
//workspace "media" {
//    open-on-output "HDMI-A-2"
//}
//
//workspace "misc" {
//    open-on-output "HDMI-A-2"
//}
